@{
    Layout = null;
}
<!DOCTYPE html>
@model SampleMVCWeb.Models.Student
<html>
<head>
    <title>@ViewBag.title</title>
</head>
<body>
    <h1>@ViewData["Header"]</h1>
<div>
    Student ID: @Model?.StudentId
</div>
<div>
    Name: @Model?.Name
</div>
<div>
    Branch: @Model?.Branch
</div>
<div>
    Section: @Model?.Section
</div>
<div>
    Gender: @Model?.Gender
</div>

</body>